body {
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
}

#points {
    position: fixed; 
    top: 20%; 
    left: 50%;
    scale: 3;
    color: white; 
    z-index: 10; 
}

#previousPoints {
    position: fixed; 
    top: 80%; 
    left: 50%;
    opacity: 40%;
    scale: 3;
    color: white; 
    z-index: 10; 
}

.mainCircleAnimation {
    position: absolute;
    min-width: 10px;
    min-height: 10px; 
    border-radius: 50%;
    background-color: black; /* Set the background color to black */
    box-shadow: 
        0 0 5px 2px #fff,  /* White glow effect */
        0 0 10px 4px #fff, /* White glow effect */
        0 0 20px 6px #fff; /* White glow effect */
}


.circleAnimation {
    position: absolute;
    width: 10px;
    height: 10px; 
    border-radius: 50%;
    background-image: 
    radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.9), transparent 40%),
    radial-gradient(circle at 70% 70%, rgba(255, 255, 255, 0.9), transparent 40%),
    radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0) 60%);
}

.mainCircleSegment {
    position: absolute;
    min-width: 10px;
    min-height: 10px; 
    border-radius: 50%;
    background-color: black;
    box-shadow: 
        0 0 5px 2px #fff;
}

.flashAnimation {
    animation: flashEffect 2s linear infinite;
    animation-fill-mode: forwards;
    margin: 20px;
}

@keyframes flashEffect {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
